<title>Neural Artist</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/stylesheets/fontawesome/css/fontawesome.min.css" rel="stylesheet">
<link href="/stylesheets/fontawesome/css/solid.min.css" rel="stylesheet">
<link href="/stylesheets/fontawesome/css/regular.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">