<!DOCTYPE html>
<html>
<head>
    <title>Neural Artist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/stylesheets/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/stylesheets/fontawesome/css/solid.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<% include navbar %>

<% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
<% } %>