<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header_element %>
    <link href="/stylesheets/create/stylize.css" rel="stylesheet" type="text/css">
</head>
<body>
<% include ../partials/navbar %>

<div class="jumbotron">
    <div class="container">
        <h2><i class="fas fa-paint-brush"></i> Stylize Your Image </h1>
    </div>
</div>

<div class="container">
    <form id="img_stylize_form" action="/create" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-lg-6 mb-3 mb-lg-0">
                <div class="card">
                    <div class="container-16-9">
                        <img id="contentImg" src="/stylesheets/image-placeholder.jpg" alt="..." class="container-content card-img-top">
                    </div>
                    <div class="card-body p-0">
                        <label class="form-control btn btn-secondary m-0">
                            Choose File
                            <input class="form-control" type="file" name="selectContent" id="selectContent" accept="image/*" required>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6 mt-3 mt-lg-0">
                <div class="card">
                    <div class="style-block">
                        <div class="row m-0">
                            <% var options = [ "wave", "the_shipwreck_of_the_minotaur", "the_scream", "rain_princess", "la_muse", "udnie" ] %>
                            <% for(var i = 0; i < options.length; i++){ %>
                                <div class="col-6 p-2">
                                    <div class="container-square">
                                        <% var img_path = "data/styles/" + options[i] + ".jpg" %>
                                        <input class="selectStyle" type="radio" name="selectStyle" value="<%= options[i] %>" id="<%= options[i]+"_" %>" required>
                                        <label class="container-content" for="<%= options[i]+"_" %>"></label>
                                    </div>
                                </div>
                            <% }  %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button id="submitBtn" class="btn btn-primary btn-block">Submit!</button>
        </div>
    </form>
    <hr>
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div id="loading_spinner" class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer_element %>
<script src="/scripts/create/stylize.js" type="text/javascript"></script>
</body>
</html>