<% include ./partials/header %>

<div class="container">
    <div class="row justify-content-center mt-5">
         <div class="col-4 p-5 border">  
            <h1 class="text-center pb-3">Sign up</h1>
            <form action="/register" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Sign up</button>
                </div>
            </form>
            <a href="javascript:history.back()">Go Back</a>
            <a class="float-right" href="/login">Login</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>