html {
    margin-bottom: 5rem;
}

.jumbotron {
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.img_container {
    width: 100%;
    height: 20rem;
}

.card-body {
    height: 4.5rem;
}

img {
    width: 100% !important;
    height: 100% !important;;
    object-fit: cover;
}
