body {
    padding-top: 56px;
    margin-bottom: 56px;
}
/* Let navbar shink when scrolling */
.navbar {
    transition: padding 0.2s ease;
}

.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;  
}

.brand-invisible {
    opacity: 0;  
}

#brand-title {
    transition: opacity 0.2s ease;   
}
/* Let navbar shink when scrolling */

.avatar {
    width: 32px;
    height: 32px;
}

.avatar-lg {
    width: 40px;
    height: 40px;
}
