<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header_element %>
    <link href="/stylesheets/explore/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<% include ../partials/navbar %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="row">
                <% posts.forEach(function(post){ %>
                    <div class="col-4 p-2">
                        <div class="m-0 container-square">
                            <a href="/explore/<%= post._id %>">
                                <img src="<%= post.resultImg %>" class="container-content">
                            </a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>
