<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header_element %>
    <link rel="stylesheet" href="/stylesheets/twentytwenty/twentytwenty.css" type="text/css" media="screen">
    <link href="/stylesheets/explore/show.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/explore/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<% include ../partials/navbar %>



<!-- Modal -->
<div class="modal" id="postModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header py-2 px-3 border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0">

            </div>
            <div class="modal-footer border-0 pt-0">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div id="page_container" class="row">
                <% posts.forEach(function(post){ %>
                    <div class="col-4 px-1 p-lg-1 px-lg-2">
                        <div class="m-0 container-square post-block">
                            <a class="post-link" href="/explore/<%= post._id %>">
                                <img src="<%= post.resultImg %>" class="container-content">
                                <h2><i class="d-none d-lg-block centered-icon far fa-comment text-white"> <span class="commentNum"><%= post.comments.length %></span></i></h2>
                                <h6><i class="d-block d-lg-none centered-icon far fa-comment text-white"> <span class="commentNum"><%= post.comments.length %></span></i></h6>
                            </a>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="page-load-status text-center">
                <p class="infinite-scroll-request">Loading...</p>
                <p class="infinite-scroll-last">End of content</p>
                <p class="infinite-scroll-error">No more pages to load</p>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer_element %>


<script src="/scripts/infinite_scroll/infinite-scroll.pkgd.min.js"></script>
<script src="/scripts/twentytwenty/jquery.event.move.js" type="text/javascript"></script>
<script src="/scripts/twentytwenty/jquery.twentytwenty.js" type="text/javascript"></script>
<script src="/scripts/explore/index.js" type="text/javascript"></script>
</body>
</html>