<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-4 img_container">
            <img src="/data/outputs/1565956857186.jpg" class="rounded">
        </div>
    </div>
</div>

<% include ../partials/footer %>